# Ignore everything
*

# Track my config files
!.*

# But not these retarded files
.DS_Store
.CFUserTextEncoding
*.swp

# Or these files
.gitconfig
.bash_history
.irb_history*
.mysql_history
.viminfo

# I will manage this one myself
.vim
