# Ignore everything
*

# Track my config files
!.*

# But not these retarded files
.DS_Store
.CFUserTextEncoding
*.swp

# Or these files
.gitconfig
.bash_history
.irb_history*
.mysql_history
.viminfo
.lesshst

# I will manage this one myself
.vim
.offlineimaprc
.msmtprc
.Xauthority
.emacs.d/
.fastri-index
.htoprc
.ido.last
.octave_hist
.recentf
